* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  /* font-size: 62.5%; */
}

.container {
  background: #23424a;
  color: white;
  padding: 9.375rem 7.5rem;
  /* height: 300px; */
}

.container h1 {
  font-size: 48px;
  font-weight: bold;
}

.container p {
  font-size: 21px;
}

.content {
  width: 50%;
}

.button {
  display: inline-block;
  background: #38CFD9;
  color: #23424a;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 2rem;
  margin-top: 2rem;
}